html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#map {
    flex-grow: 1;
}

#legend-computer {
    display: none;
}

@media screen and (min-width: 824px) and (min-height: 750px) {
    #legend-computer {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}

#legend-mobile {
    display: none;
}
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* Galaxy S5 */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* Pixel 2 */
@media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}
/* Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: portrait) { 
    #legend-mobile {
        display: block;
        margin-left: 9px;
        position: fixed;
        bottom: 25px;
    }
}

.table {
    border: none;
}
.table-row {
    vertical-align: middle; 
    position: static; 
    background-color:green; 
    color:white;
}
.title {
    display: none;
}
@media screen and (min-width: 824px) {
    .title {
        display: block;
        margin-left: 20px;
        position: fixed;
    }
}
.input {
    margin-right: 30px;
    width: 500px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}